body {
    background-image: url(images/homepage/vr.jpeg);
    background-repeat: none;
    background-size: contain;
    color: white;
    text-align: center;
}


.welcome{

    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

