body {
    background-image: url(images/homepage/background.jpeg);
    background-size: contain;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
}


.welcome{

    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

